@use '../../../styles/fonts';

.wrap {

  $colorLabel: rgba(#caf, 0.5);
  $colorSelectedLabel: white;
  $colorSelectedBg: #caf;

  appearance: none;
  cursor: pointer;

  padding: 1em 2em;

  background-color: rgba($colorSelectedBg, 0);
  border: none;
  color: $colorLabel;
  font-family: fonts.$sans;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.65em;

  transition:
    all 0.5s ease;

  &:hover {
    background-color: rgba($colorSelectedBg, 0.05);
    transition:
      all 0.2s ease;
  }
  &:active {
    background-color: rgba($colorSelectedBg, 0.035);
    transition: none;
  }
  &.selected {
    background-color: rgba($colorSelectedBg, 0.15);
    color: $colorSelectedLabel;
  }

}